<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 testoverflow">
      <img class='img-thumbnail img-responsive center-block' src="<%= @instagram_feed[0]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <img class='img-thumbnail img-responsive center-block' src="<%= @instagram_feed[1]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <img class='img-thumbnail img-responsive center-block' src="<%= @instagram_feed[2]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <img class='img-thumbnail img-responsive center-block' src="<%= @instagram_feed[3]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
      <img class='img-thumbnail img-responsive center-block' src="<%= @instagram_feed[4]['images']['standard_resolution']['url'] %>" alt="Instagram Photo" />
    </div>
  </div>
  <div class="row">
  </div>
</div>
